@charset "UTF-8";

.headtab {
  width: 100%;
  height: 100px;
  background-color: #FFF;
}

.menu {
  width: 100%;
  height: 100%;
}

.menu-list{
  font-size: 0;
  display: flex;
  justify-content: space-between;
}

.menu-list__item {
  
  height: 100%;
  width: 32%;
  font-size: 24px;
  display: inline-block;
  line-height: 100px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

.content-area {
  width: 100%;
}

.site-main {
  margin: 50px;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

